<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.curatio.incomplete"
    versionCode = "10"
    version     = "5.0.0" >

  <name>Curatio</name>

  <description>
      Trabalho de conclusão de curso da Etec.
  </description>

  <author href="https://curatiotcc.esy.es" email="curatiotccetec@gmail.com">
      Equipe Curatio
  </author>
  
  <access origin="*" />
  
	<icon src="www/images/logo1.png" platform="android" qualifier="ldpi" />
	<icon src="www/images/logo2.png" platform="android" qualifier="mdpi" />
	<icon src="www/images/logo3.png" platform="android" qualifier="hdpi" />
	<icon src="www/images/logo4.png" platform="android" qualifier="xhdpi" />
    <splash src="www/images/splash.png" platform="android" qualifier="land-mdpi"/>

</widget>
